APP_URL=http://localhost:6875
APP_KEY=

DB_USER=bookstack
DB_PASS=changeme
DB_ROOT_PASS=rootchangeme
DB_DATABASE=bookstack

# Raccordement LDAP UL (étape 4)
# Pour un compte étudiant : login@etu.univ-lorraine.fr
# Pour un compte personnel : login@univ-lorraine.fr
LDAP_DN=votre_login@etu.univ-lorraine.fr
# Ne jamais commiter le mot de passe — ce fichier est dans .gitignore
LDAP_PASS=
